body,
html {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.HomepageNav {
  margin: 0% 2%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.logo {
  color: Red;
  float: left;
  font-size: 2rem;
  font-weight: bold;
}
.signin {
  float: right;
  color: white;
  padding-top: 8px;
  position: relative;
}
.signin button {
  background-color: red;
  padding: 1.5spx 2px;
  border-style: none;
  border-radius: 0.5rem;
  max-width: 100px;
  min-width: 60px;
  height: 28px;
  font-size: 1.2rem;
  font-weight: bold;
  outline-color: none;
  color: aliceblue;
}
.signin button:active {
  outline: none;
}
.signin button:focus {
  outline: 0;
}
.MainPage {
  margin-bottom: 0.5rem;
  padding: 3rem;
}

.MainPage {
  background-image: url("./Data/Gymbackgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App .first-block {
  background-color: rgb(211, 180, 180);
  background-repeat: no-repeat;
  background-size: cover;
}

#signin-portal {
  z-index: 2;
}
